# Required
pytest>=4.0.0
empty-files>=0.0.3

# Required only if functionality is used
pyperclip>=1.5.29     # For Clipboard Reporter
beautifulsoup4>=4.4.0 # For verify_html
allpairspy>=2.1.0     # For PairwiseCombinations
