name: Test Min Versions

on: [push, pull_request]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v5
      - run: echo "${{ matrix.python-version }}" > .python-version
      - uses: jdx/mise-action@v3
        with:
          install: false
      - run: python ./generate_prod_min.py
      - run: ./build_and_test.sh
        shell: bash
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v5
        if: always()
        with:
          detailed_summary: true
