name: Test

on: [push, pull_request, workflow_dispatch]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
        os:
          - macos-latest
          - ubuntu-slim
          - windows-latest

    steps:
      - uses: actions/checkout@v6
      - run: echo "${{ matrix.python-version }}" > .python-version
      - uses: jdx/mise-action@v3
      - run: mise install  # retry for network issues
      - run: mise pip-install || mise pip-install  # retry for network issues
      - run: ./build_and_test.sh
        env: 
          MISE_JOBS: 1  # to avoid file-in-use error
        shell: bash
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v6
        if: always()
        with:
          detailed_summary: true
